
<h1>Payee Categories</h1>
<%= paginate @payee_categories %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Category name</th>
      <th>Category description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @payee_categories.each do |payee_category| %>
      <tr>
        <td><%= payee_category.category_name %></td>
        <td><%= payee_category.category_description %></td>
        <td><%= link_to 'Show', payee_category %></td>
        <td><%= link_to 'Edit', edit_payee_category_path(payee_category) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payee Category', new_payee_category_path , class: 'btn btn-primary'  %>
