<p id="notice"><%= notice %></p>

<h1>Construction Stock Fillings</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Construction stock</th>
      <th>Quantity</th>
      <th>Filling date</th>
      <th>Accepted by</th>
      <th>Filling location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @construction_stock_fillings.each do |construction_stock_filling| %>
      <tr>
        <td><%= construction_stock_filling.construction_stock %></td>
        <td><%= construction_stock_filling.quantity %></td>
        <td><%= construction_stock_filling.filling_date %></td>
        <td><%= construction_stock_filling.accepted_by %></td>
        <td><%= construction_stock_filling.filling_location %></td>
        <td><%= link_to 'Show', construction_stock_filling %></td>
        <td><%= link_to 'Edit', edit_construction_stock_filling_path(construction_stock_filling) %></td>
        <td><%= link_to 'Destroy', construction_stock_filling, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Construction Stock Filling', new_construction_stock_filling_path, class:'btn btn-primary' %>
