<%= bootstrap_form_for(@office_customer) do |form| %>
  <% if office_customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(office_customer.errors.count, "error") %> prohibited this office_customer from being saved:</h2>

      <ul>
      <% office_customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, id: :office_customer_name, class:'form-control' ,required: true %>
  </div>

  <div class="field">
    <%= form.text_field :phone, id: :office_customer_phone, class:'form-control'  ,required: true %>
  </div>

  <div class="field">
    <%= form.text_field :email, id: :office_customer_email, class:'form-control' ,required: true %>
  </div>

  <div class="field ">
    <%= form.date_select :date_of_enquiry, id: :office_customer_date_of_enquiry, class:'form-control' %>
  </div>

  <div class="field">
    <%= form.text_field :from_where, id: :office_customer_from_where , class:'form-control' ,required: true %>
  </div>

  <div class="field">
    <%= form.text_field :looking_for, id: :office_customer_looking_for, class:'form-control' ,required: true  %>
  </div>

  <div class="field">
    <%= form.number_field :budget, id: :office_customer_budget, class:'form-control' ,required: true %>
  </div>

  <div class="field">
    <%= form.text_field :broker, id: :office_customer_broker , class:'form-control' %>
  </div>

  <div class="field">

    <%= form.select :status, ["Ongoing", "Closed Dead",  "Closed Won"], { label: "Status:" } %>
  </div>

  <div class="field">
    <%= form.text_area :comments, id: :office_customer_comments, class:'form-control' %>
  </div>

  <div class="field">
    <%= form.text_field :source, id: :office_customer_source, class:'form-control' ,required: true %>
  </div>
<br>
  <div class="actions">
    <%= form.submit 'Save', :class=>'btn btn-primary' %>
  </div>
<% end %>
