<p id="notice"><%= notice %></p>

<%= link_to 'New Office Customer', new_office_customer_path, class: 'btn btn-primary' %> |
<%= link_to 'All Customers', office_customers_path %> |
<%= link_to 'Ongoing Customers', office_customers_path(status: "ongoing") %>
<hr>
<div class="row">
    <div class="col-lg-10">
      <%=  bootstrap_form_tag  url: office_customers_path, method: :get do |f| %>
      <div class="input-group">
        <span class="input-group-btn">
          <input type="tel" name= "customer_value" placeholder= "Search by Name/Email/Phone/Broker/Source"  class="form-control"> 
        <%= f.submit "Search" %>
      </span>
      </div>
      <% end %>
    </div>
  </div>
<hr>
<%= paginate @office_customers %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Date of enquiry</th>
      <th>From where</th>
      <th>Looking for</th>
      <th>Budget</th>
      <th>Broker</th>
      <th>Status</th>
      <th>Comments</th>
      <th>Source</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @office_customers.each do |office_customer| %>
      <tr>
        <td><%= office_customer.name %></td>
        <td><%= office_customer.phone %></td>
        <td><%= office_customer.email %></td>
        <td><%= office_customer.date_of_enquiry %></td>
        <td><%= office_customer.from_where %></td>
        <td><%= office_customer.looking_for %></td>
        <td><%= office_customer.budget %></td>
        <td><%= office_customer.broker %></td>
        <td><%= office_customer.status %></td>
        <td><%= office_customer.comments %></td>
        <td><%= office_customer.source %></td>
        <td><%= link_to 'Show', office_customer %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

