<%= bootstrap_form_for(@booking) do |f| %>
<% if booking.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

    <ul>
    <% booking.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %> 

  <%= f.date_select :booking_date , leble: "Select Booking Date", :required => true %>
  <%= f.text_field :total_guests ,type:"number" ,  label: "Total Guests" ,:required => true %>
  <%= f.date_select :booked_from , leble: "Booked From (Expected Checkin Date) ", :required => true %>
  <%= f.date_select :booked_till , leble: "Booked Till (Expected Checkout Date) ", :required => true %>
  <%= f.text_field :booking_amount ,type:"number" ,  label: "Booking Amount" ,:required => true %>
  <%= f.text_field :paid_amount ,type:"number" ,  label: "Paid Amount" ,:required => true %>
  <%= f.select :booking_status, ["Confirmed","Expired"], { label: "Select booking Status:" }, { class: "selectpicker" } %>
  <label>Select Rooms : <small>No Selection needed if you are editing a booking.</small></label>
  <select name="booking[rooms][]" multiple=true class="form-control">
    <%= @available_rooms.each do |room| %>
      <option value="<%= room.id %>"><%= room.room_name %></option>
    <% end %>
  </select> <br/>
  <%= f.submit "Save" ,class: 'btn btn-primary'  %>
<% end %>
