<h3>Today's Bookings</h3>
<hr>
<div>
  <%=  bootstrap_form_tag  url: bookings_path, method: :get do |f| %>
  <div class="row">
    <div class="col-lg-5">
      Start Date : 
      <%= f.date_field :start_date, value: params[:start_date], hide_label: true, class: 'form-control' %>
    </div>
    <div class="col-lg-5">
      End Date : 
      <%= f.date_field :end_date, value: [:end_date], class: 'form-control', hide_label: true %>
    </div>
    <div class="col-lg-2">
      <br>
        <%= f.submit "Search", class: 'btn btn-primary' %>
    </div>

  </div>
  <% end %>
</div>

<hr>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Customer name</th>
      <th>Booking date</th>
      <th>Total guests</th>
      <th>Booked from</th>
      <th>Booked till</th>
      <th>Booking amount</th>
      <th>Room Service Charge</th>
      <th>Paid Amount</th>
      <th>Remaining Amount</th>
      <th>Total Earned</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= Guest.find(booking.guest_id).name %></td>
        <td><%= booking.booking_date %></td>
        <td><%= booking.total_guests %></td>
        <td><%= booking.booked_from %></td>
        <td><%= booking.booked_till %></td>
        <td><%= booking.booking_amount %></td>
        <td><%= get_room_service_amount(booking.id) %></td>
        <td><%= booking.paid_amount %></td>
        <td><%= (booking.booking_amount + get_room_service_amount(booking.id)) - booking.paid_amount.to_i  %></td>
        <td><%= booking.booking_amount + get_room_service_amount(booking.id) %></td>
        <td><%= link_to 'Show', guest_booking_path(booking.guest_id, booking.id) %></td>
        <td><%= link_to 'Room Service', guest_booking_room_services_path(booking.guest_id, booking.id) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
