
<%= link_to 'New Booking', new_booking_path, class: 'btn btn-primary' %>
<h1>Bookings</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Booking ID</th>
      <th>Customer name</th>
      <th>Booking date</th>
      <th>Total guests</th>
      <th>Booking status</th>
      <th>Booked from</th>
      <th>Booked till</th>
      <th>Booking amount</th>
      <th>Room Service Charge</th>
      <th>Amount Paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.id %></td>
        <td><%= booking.customer_name %></td>
        <td><%= booking.booking_date %></td>
        <td><%= booking.total_guests %></td>
        <td><%= booking.booking_status %></td>
        <td><%= booking.booked_from %></td>
        <td><%= booking.booked_till %></td>
        <td><%= booking.booking_amount %></td>
        <td><%= get_room_service_amount(booking.id) %></td>
        <td><%= amount_paid(booking.id) %></td>
        <td><%= link_to 'Show', booking %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
