
<h3>Customer Info</h3>
<p>
  <strong>Customer name:</strong>
  <%= @booking.customer_name %>
</p>

<p>
  <strong>Customer email:</strong>
  <%= @booking.customer_email %>
</p>

<p>
  <strong>Customer mobile:</strong>
  <%= @booking.customer_mobile %>
</p>
<hr>
<h3>Booking Info </h3>

<p>
  <strong>Booking date:</strong>
  <%= @booking.booking_date %>
</p>

<p>
  <strong>Total guests:</strong>
  <%= @booking.total_guests %>
</p>

<p>
  <strong>Booking status:</strong>
  <%= @booking.booking_status %>
</p>

<p>
  <strong>Booked from:</strong>
  <%= @booking.booked_from %>
</p>

<p>
  <strong>Booked till:</strong>
  <%= @booking.booked_till %>
</p>

<p>
  <strong>Booking amount:</strong>
  <%= @booking.booking_amount %>
</p>
<hr>
<h3>Rooms Booked</h3>
<ol>
  <% @rooms_booked.each do |b| %>
  <li>
    <%= b.room_name %> | <%= b.room_type %>
  </li>
  <% end %>
</ol>
<hr>
<h3>Room Services</h3>
<ol>
<% @room_services.each do |rs| %>
  <li>
    <p>
      <strong>Item:</strong>
      <%= StockItem.find(rs.stock_item_id).name %>
    </p>
    <p>
      <strong>Room :</strong>
      <%= Room.find(rs.room_id).room_name %>
    </p>
    <p>
      <strong>Quantity :</strong>
      <%= rs.quantity %>
    </p>

    <p>
      <strong>Price :</strong>
      <%= rs.price %>
    </p>

  </li>
<% end %>
</ol>
<hr>
<h3>Payments</h3>
<p>
  <strong>Booking Amount :</strong>
  <%= @booking.booking_amount %>
</p>
<p>
  <strong>Paid Amount :</strong>
  <%= @booking.paid_amount %>
</p>
<p>
  <strong>Room Service Charges :</strong>
  <%= get_room_service_amount(@booking.id) %>
</p>
<p>
  <strong>Remaining Amount :</strong>
  <%= (@booking.booking_amount + get_room_service_amount(@booking.id)) - @booking.paid_amount.to_i %>
</p>
<p>
  <strong>Total Earned :</strong>
  <%= @booking.booking_amount + get_room_service_amount(@booking.id) %>
</p>
<hr>

<hr>
<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %> |
<%= link_to 'Room Services', booking_room_services_path(@booking.id) %>
<br>
<br>
<br>
