<p id="notice"><%= notice %></p>

<p>
  <strong>Customer name:</strong>
  <%= @booking.customer_name %>
</p>

<p>
  <strong>Customer email:</strong>
  <%= @booking.customer_email %>
</p>

<p>
  <strong>Customer mobile:</strong>
  <%= @booking.customer_mobile %>
</p>

<p>
  <strong>Booking date:</strong>
  <%= @booking.booking_date %>
</p>

<p>
  <strong>Total guests:</strong>
  <%= @booking.total_guests %>
</p>

<p>
  <strong>Booking status:</strong>
  <%= @booking.booking_status %>
</p>

<p>
  <strong>Booked from:</strong>
  <%= @booking.booked_from %>
</p>

<p>
  <strong>Booked till:</strong>
  <%= @booking.booked_till %>
</p>

<p>
  <strong>Booking amount:</strong>
  <%= @booking.booking_amount %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
