<ul class="nav nav-tabs">
  <li><a href="<%= stock_items_path %>">Stock Items</a></li>
  <li class="active"><a href="<%= stocks_path %>">Stock Filling</a></li>
</ul>

<br><br>


<%= link_to 'New Stock', new_stock_path, class: 'btn btn-primary' %><br><br>
<h1>Stocks</h1>
<%= paginate @stocks %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Stock item</th>
      <th>Filling date</th>
      <th>Quantity</th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.stock_item.name %></td>
        <td><%= stock.filling_date %></td>
        <td><%= stock.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
