<%= bootstrap_form_for @user do |f| %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this guest from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="field">
  <%= f.email_field :email, autofocus: true %>
</div>

<div class="field">
  <%= f.select(:user_type, options_for_select([['Admin','admin'],['Hotel Staff','hotel_staff'],['Office Staff','office_staff']])) %>
</div>
<div class="field">
  <%= f.select(:approved, options_for_select([['Approved',true],['Suspended',false]])) %>
</div>
<div class="actions">
  <%= f.submit "Update User" %>
</div>
<% end %>
