
<%= link_to 'Add New Coupon', new_coupon_path, class: 'btn btn-primary' %><br><br>
<table class="table table-hover">
  <tr>
    <th>Coupon Code </th>
    <th>Coupon Status </th>
    <th ></th>
    <th></th>
  </tr>
  <% @coupons.each do |coupon| %>
    <tr>
      <td><%= coupon.coupon_code %></td>
      <td><%= coupon.coupon_status %></td>
      <td><%= link_to 'Show', coupon_path(coupon) %></td>
      <td><%= link_to 'Edit', edit_coupon_path(coupon) %></td>
    </tr>
  <% end %>
</table>
