<p id="notice"><%= notice %></p>
<%= link_to 'New Room Service', new_guest_booking_room_service_path, class: 'btn btn-primary' %><br><br>
<h1>Room Services</h1>
<%= paginate @room_services %>
<table class="table table-hover" >
  <thead>
    <tr>
      <th>Stock item</th>
      <th>Room</th>
      <th>Price</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @room_services.each do |room_service| %>
      <tr>
        <td><%= StockItem.find(room_service.stock_item_id).name %></td>
        <td><%= Room.find(room_service.room_id).room_name %></td>
        <td><%= room_service.price %></td>
        <td><%= room_service.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
