<%= bootstrap_form_for(@payment) do |f| %>
<% if payment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

    <ul>
    <% payment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= f.text_field :booking_id ,type:"number" , class: 'form-control',  label: "Enter Booking ID" ,:required => true %>
<%= f.text_field :amount_paid ,type:"number" , class: 'form-control',  label: "Amount Paid" ,:required => true %>
<%= f.select :payment_method, ["Cash Payment","By Debit Card", "Net Banking","Other"], { label: "Enter Payment Method:" }, { class: "selectpicker" } %>
<%= f.date_field :payment_date ,type:"date" , class: 'form-control',  label: "Payment Date" ,:required => true %>

  <%= f.submit "Save" ,class: 'btn btn-primary'  %>
<% end %>
