
<%= link_to 'Add New Room', new_room_path, class: 'btn btn-primary' %><br><br>
<table class="table table-hover">
  <tr>
    <th>Room Name </th>
    <th>Room Type </th>
    <th>Room Status </th>
    <th ></th>
    <th></th>
  </tr>

  <% @rooms.each do |room| %>
    <tr>
      <td><%= room.room_name %></td>
      <td><%= room.room_type %></td>
      <td><%= room.room_status %></td>
      <td><%= link_to 'Show', room_path(room) %></td>
      <td><%= link_to 'Edit', edit_room_path(room) %></td>
    </tr>
  <% end %>
</table>
