<p id="notice"><%= notice %></p>

<h1>Apartment Payments</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Amount paid</th>
      <th>Payment date</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @apartment_payments.each do |apartment_payment| %>
      <tr>
        <td><%= apartment_payment.amount_paid %></td>
        <td><%= apartment_payment.payment_date %></td>
        <td><%= apartment_payment.description %></td>
        <td>
          <%= link_to 'Edit', edit_office_deal_apartment_payment_path(apartment_payment.office_deal,apartment_payment) %>
        </td>
        <td>
        <%= link_to 'Show', office_deal_apartment_payment_path(apartment_payment.office_deal,apartment_payment) %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apartment Payment', new_office_deal_apartment_payment_path, class: 'btn btn-primary' %>
