<p id="notice"><%= notice %></p>

<p>
  <strong>Office deal:</strong>
  <%= link_to 'Deal', office_deal_path(@apartment_payment.office_deal) %>
</p>

<p>
  <strong>Amount paid:</strong>
  <%= @apartment_payment.amount_paid %>
</p>

<p>
  <strong>Payment date:</strong>
  <%= @apartment_payment.payment_date %>
</p>
<p>
  <strong>Description:</strong>
  <%= @apartment_payment.description %>
</p>
<%= link_to 'Edit', edit_office_deal_apartment_payment_path(@apartment_payment.office_deal,@apartment_payment) %> |
<%= link_to 'Back', office_deal_apartment_payments_path %>
