<p id="notice"><%= notice %></p>

<p>
  <strong>Office deal:</strong>
  <%= @apartment_payment.office_deal %>
</p>

<p>
  <strong>Amount paid:</strong>
  <%= @apartment_payment.amount_paid %>
</p>

<p>
  <strong>Payment date:</strong>
  <%= @apartment_payment.payment_date %>
</p>

<%= link_to 'Edit', edit_apartment_payment_path(@apartment_payment) %> |
<%= link_to 'Back', apartment_payments_path %>
