
<h1>Office Deals</h1>
<%= paginate @office_deals %>
<table class="table table-hover" >
  <thead>
    <tr>
      <th>Office customer</th>
      <th>Apartment</th>
      <th>Total Price</th>
      <th>Amount Paid</th>
      <th>Amount Pending</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @office_deals.each do |office_deal| %>
      <tr>
        <td>  <%= link_to office_deal.office_customer.name.to_s , office_customer_path(office_deal.office_customer) %> </td>
        <td>  <%= link_to office_deal.apartment.apartment_name.to_s , project_apartment_path(office_deal.apartment.project , office_deal.apartment ) %> </td>
        <td><%= office_deal.total_price %></td>
        <td><%= office_deal.apartment_payments.sum(:amount_paid) %> </td>
        <td><%= (office_deal.total_price - office_deal.apartment_payments.sum(:amount_paid)) %> </td>
        <td><%= link_to 'Show', office_deal %></td>
        <td><%= link_to 'Payments', office_deal_apartment_payments_path(office_deal) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Office Deal', new_office_deal_path, class: 'btn btn-primary' %>
