
<p>
  <strong>Office customer:</strong>
  <%= @office_deal.office_customer.name %>
</p>

<p>
  <strong>Apartment:</strong>
  <%= @office_deal.apartment.apartment_name %>
</p>

<p>
  <strong>Base price:</strong>
  <%= @office_deal.base_price %>
</p>

<p>
  <strong>Stamp duty:</strong>
  <%= @office_deal.stamp_duty %>
</p>

<p>
  <strong>Registration charges:</strong>
  <%= @office_deal.registration_charges %>
</p>

<p>
  <strong>Other charges:</strong>
  <%= @office_deal.other_charges %>
</p>

<p>
  <strong>Maintenance charges:</strong>
  <%= @office_deal.maintenance_charges %>
</p>

<p>
  <strong>Parking charges:</strong>
  <%= @office_deal.parking_charges %>
</p>

<p>
  <strong>Developement charges:</strong>
  <%= @office_deal.developement_charges %>
</p>

<p>
  <strong>Club membership charges:</strong>
  <%= @office_deal.club_membership_charges %>
</p>

<p>
  <strong>Furniture charges:</strong>
  <%= @office_deal.furniture_charges %>
</p>
<p>
  <strong>Total Price: </strong>
  <%= @office_deal.total_price %>
</p>
<p>
  <strong>Amount Paid: </strong>
  <%= @office_deal.apartment_payments.sum(:amount_paid) %>
</p>
<p>
  <strong>Pending Amount: </strong>
  <%= (@office_deal.total_price - @office_deal.apartment_payments.sum(:amount_paid)) %>
</p>

<%= link_to 'Back', office_deals_path %> |
<%= link_to 'Edit', edit_office_deal_path(@office_deal) %> |
<%= link_to 'Payments', office_deal_apartment_payments_path(@office_deal) %>
