<p id="notice"><%= notice %></p>

<h1>Payees</h1>

<table class="table table-hover" >
  <thead>
    <tr>
      <th>Payee category</th>
      <th>Payee name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @payees.each do |payee| %>
      <tr>
        <td><%= payee.payee_category.category_name %></td>
        <td><%= payee.payee_name %></td>
        <td><%= link_to 'Show', payee %></td>
        <td><%= link_to 'Edit', edit_payee_path(payee) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payee', new_payee_path , class: 'btn btn-primary' %>
