<ul class="nav nav-tabs">
  <li class="active"><a href="<%= construction_stocks_path %>">Construction Stock</a></li>
  <li><a href="<%= construction_stock_fillings_path %>">Construction Stock Filling</a></li>
  <li><a href="<%= construction_stock_issues_path %>">Issue Stock</a></li>
</ul>

<br><br>


<h1>Construction Stocks</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Item name</th>
      <th>Stock quantity</th>
    </tr>
  </thead>

  <tbody>
    <% @construction_stocks.each do |construction_stock| %>
      <tr>
        <td><%= construction_stock.item_name %></td>
        <td><%= construction_stock.stock_quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Construction Stock', new_construction_stock_path, class:'btn btn-primary' %>
