<%= bootstrap_form_for(@construction_payment) do |form| %>
  <% if construction_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(construction_payment.errors.count, "error") %> prohibited this construction_payment from being saved:</h2>

      <ul>
      <% construction_payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :payee_id %>
    <%= form.select(:payee_id ,options_from_collection_for_select(Payee.all, :id, :payee_name), :include_blank => "Select Payee", skip_label: true) %>
  </div>
  <div class="field">
    <%= form.label :in_account_of %>
    <%= form.select(:intermediary ,options_from_collection_for_select(Payee.all, :id, :payee_name), :include_blank => "Select Intermediary", skip_label: true) %>
  </div>

  <div class="field">
    <%= form.number_field :amount_paid, id: :construction_payment_amount_paid, class:'form-control' , required: true  %>
  </div>

  <div class="field">
    <%= form.date_select :payment_date, id: :construction_payment_payment_date, class:'form-control' , required: true %>
  </div>

  <div class="field">
    <%= form.text_field :payment_mode, id: :construction_payment_payment_mode, class:'form-control' , required: true %>
  </div>

  <div class="field">
    <%= form.label :select_payment_category %>
    <%= form.select(:payee_category_id,options_from_collection_for_select(PayeeCategory.all, :id, :category_name), :include_blank => "Select Category", skip_label: true ) %>
  </div>
    <div class="field">
    <%= form.label :project_id %>
    <%= form.select(:project_id ,options_from_collection_for_select(Project.all, :id, :project_name), :include_blank => "Select Project", skip_label: true) %>
  </div>

  <div class="field">
    <%= form.text_area :payment_info, id: :construction_payment_payment_info, class:'form-control' , required: true %>
  </div>
<br>
  <div class="actions">
    <%= form.submit 'Save', :class=>'btn btn-primary' %>
  </div>
<% end %>
