<%= bootstrap_form_for(@construction_payment) do |form| %>
  <% if construction_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(construction_payment.errors.count, "error") %> prohibited this construction_payment from being saved:</h2>

      <ul>
      <% construction_payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if !(@payees.present?)%>
  <div class="field">
    <p>Create a payee first</p>
  </div>
  <% else %>
  <div class="field">
    <%= form.select(:payee_id) do %>
      <% @payees.each do |c| -%>
          <%= content_tag(:option, c.payee_name.to_s + " - " + c.payee_category.category_name.to_s , value: c.id) %>
      <% end %>
    <% end %>
  </div>
  <% end %>

  <div class="field">
    <%= form.number_field :amount_paid, id: :construction_payment_amount_paid, class:'form-control' , required: true  %>
  </div>

  <div class="field">
    <%= form.date_select :payment_date, id: :construction_payment_payment_date, class:'form-control' , required: true %>
  </div>

  <div class="field">
    <%= form.text_field :payment_mode, id: :construction_payment_payment_mode, class:'form-control' , required: true %>
  </div>

  <div class="field">
    <%= form.text_field :payemnt_category, id: :construction_payment_payemnt_category, class:'form-control' , required: true %>
  </div>
  
  <% if !(@projects.present?)%>
  <div class="field">
    <p>Create a project first</p>
  </div>
  <% else %>
  <div class="field">
    <%= form.select(:project_id) do %>
      <% @projects.each do |c| -%>
          <%= content_tag(:option, c.project_name.to_s , value: c.id) %>
      <% end %>
    <% end %>
  </div>
  <% end %>

  <div class="field">
    <%= form.text_area :payment_info, id: :construction_payment_payment_info, class:'form-control' , required: true %>
  </div>
<br>
  <div class="actions">
    <%= form.submit 'Save', :class=>'btn btn-primary' %>
  </div>
<% end %>
