<p id="notice"><%= notice %></p>

<h1>Apartments</h1>
<%= paginate @apartments %>
<table class="table table-hover" >
  <thead>
    <tr>
      <th>Apartment name</th>
      <th>Carpet area</th>
      <th>Build up</th>
      <th>Project</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.apartment_name %></td>
        <td><%= apartment.carpet_area %></td>
        <td><%= apartment.build_up %></td>
        <td><%= apartment.project.project_name %></td>
        <td><%= apartment.status %></td>
        <td><%= link_to 'Show', project_apartment_path(@project,apartment) %></td>
        <td><%= link_to 'Edit', edit_project_apartment_path(@project,apartment) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apartment', new_project_apartment_path, class: 'btn btn-primary' %>
