
<p>
  <strong>Apartment name:</strong>
  <%= @apartment.apartment_name %>
</p>

<p>
  <strong>Carpet area:</strong>
  <%= @apartment.carpet_area %>
</p>

<p>
  <strong>Build up:</strong>
  <%= @apartment.build_up %>
</p>

<p>
  <strong>Project:</strong>
  <%= @apartment.project.project_name %>
</p>
<p>
  <strong>Status:</strong>
  <%= @apartment.status %>
</p>

<%= link_to 'Edit', edit_project_apartment_path(@project,@apartment) %> |
<%= link_to 'Back', project_apartments_path(@project) %>
